

:root {
  /* fonts */
  --font-inter: Inter;
  --font-jost: Jost;
  --font-dm-serif-text: "DM Serif Text";

  /* font sizes */
  --font-size-sm: 0.88rem;
  --font-size-13xl-6: 2.04rem;
  --font-size-mini-3: 0.89rem;
  --font-size-mini-4: 0.9rem;
  --font-size-6xl-8: 1.61rem;
  --font-size-6xl: 1.56rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-lavender: #e2edff;
  --color-darkslategray: #0d3451;
  --color-darkgray: #a6a6a6;
  --color-gainsboro: #d9d9d9;
  --color-silver: rgba(189, 189, 189, 0.58);

  /* Paddings */
  --padding-7xs-2: 0.33rem;
  --padding-base-5: 0.97rem;
  --padding-2xs-3: 0.64rem;
  --padding-11xl-9: 1.93rem;

  /* border radiuses */
  --br-2xs-2: 10.2px;
  --br-2xs-3: 10.3px;
}
