.web-design-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  height: 1491px;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.3;
}
.frame-child {
  position: absolute;
  top: calc(50% - 263.5px);
  left: calc(50% + 333px);
  border-radius: 5px;
  background-color: #fff8f8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 238px;
  height: 70px;
}
.all-category {
  position: absolute;
  bottom: 655px;
  left: calc(50% + 379px);
  font-weight: 500;
}
.rectangle-parent {
  position: absolute;
  top: 1491px;
  left: 0;
  width: 1400px;
  height: 887px;
  overflow: hidden;
  color: #643706;
}
.the-easiest-way {
  position: absolute;
  top: 333px;
  left: 911px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  width: 321px;
}
.login {
  left: 1117px;
  cursor: pointer;
}
.about,
.faqs,
.home,
.login {
  position: absolute;
  top: 24px;
  font-weight: 500;
}
.home {
  left: 878px;
  color: #643706;
}
.about,
.faqs {
  left: 1041px;
}
.about {
  left: 958px;
}
.frame-item {
  position: absolute;
  top: 13px;
  left: 1202px;
  border-radius: 20px;
  background-color: #643706;
  width: 145px;
  height: 44px;
}
.vorkinsta {
  position: absolute;
  top: 12px;
  left: 96px;
  font-size: 32px;
  font-weight: 600;
  color: #643706;
}
.menu-icon {
  position: absolute;
  top: 20px;
  left: 27px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.login-parent,
.sign-up {
  position: absolute;
  font-size: 16px;
}
.login-parent {
  top: 0;
  left: 0;
  background-color: transparent;
  width: 1400px;
  height: 70px;
  overflow: hidden;
}
.sign-up {
  top: 24px;
  left: 1245px;
  font-weight: 500;
  color: #fff;
}
.monitor-icon {
  position: absolute;
  top: 155px;
  left: 769px;
  width: 142px;
  height: 107px;
  object-fit: cover;
  opacity: 0.4;
}
.web-design-item {
  position: absolute;
  top: 252px;
  left: 1034px;
  border-radius: 10px;
  background-color: #fff;
  border: 4px solid #df7723;
  box-sizing: border-box;
  width: 76px;
  height: 53px;
}
.lets-find-your {
  position: absolute;
  top: 186px;
  left: 911px;
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  width: 308px;
}
.web-design-inner {
  position: absolute;
  top: 490px;
  left: 946px;
  border-radius: 20px;
  background-color: #643706;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 70px;
}
.search-icon {
  position: absolute;
  top: 510px;
  left: 983px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.search {
  position: absolute;
  top: 513px;
  left: 1032px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.design-and-development,
.jobs-available {
  position: absolute;
  left: 178px;
  font-weight: 500;
}
.design-and-development {
  top: 31px;
  display: inline-block;
  width: 221px;
}
.jobs-available {
  top: 115px;
  font-size: 16px;
}
.frame-inner {
  position: absolute;
  top: 32px;
  left: 20px;
  border-radius: 5px;
  background-color: #fcf0e4;
  width: 116px;
  height: 106px;
}
.sign-up-icon {
  position: absolute;
  top: 60px;
  left: 53px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.design-and-development-parent {
  position: absolute;
  top: 1794px;
  left: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 169px;
  overflow: hidden;
}
.marketing-and-communication {
  position: absolute;
  top: 31px;
  left: 177px;
  font-weight: 500;
  display: inline-block;
  width: 204px;
}
.jobs-available1 {
  position: absolute;
  top: 115px;
  left: 177px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.rectangle-div {
  position: absolute;
  top: 32px;
  left: 19px;
  border-radius: 5px;
  background-color: #f6cda1;
  width: 116px;
  height: 106px;
}
.audio-icon {
  position: absolute;
  top: 60px;
  left: 52px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.marketing-and-communication-parent {
  position: absolute;
  top: 1794px;
  left: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 5px solid #f3ca9e;
  box-sizing: border-box;
  width: 399px;
  height: 169px;
  overflow: hidden;
}
.digital-marketing,
.jobs-available2 {
  position: absolute;
  left: 200px;
  font-weight: 500;
}
.digital-marketing {
  top: 31px;
  display: inline-block;
  width: 143px;
}
.jobs-available2 {
  top: 116px;
  font-size: 16px;
}
.frame-child1 {
  position: absolute;
  top: 32px;
  left: 26px;
  border-radius: 5px;
  background-color: rgba(246, 205, 161, 0.29);
  width: 116px;
  height: 106px;
}
.touchpad-icon {
  position: absolute;
  top: 60px;
  left: 59px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.digital-marketing-parent {
  position: absolute;
  top: 1794px;
  left: 940px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 169px;
  overflow: hidden;
}
.business-and-consultancy,
.jobs-available3 {
  position: absolute;
  left: 161px;
  font-weight: 500;
}
.business-and-consultancy {
  top: 31px;
  display: inline-block;
  width: 221px;
}
.jobs-available3 {
  top: 115px;
  font-size: 16px;
}
.frame-child2 {
  position: absolute;
  top: 32px;
  left: 20px;
  border-radius: 5px;
  background-color: rgba(246, 205, 161, 0.29);
  width: 116px;
  height: 106px;
}
.business-and-consultancy-parent {
  position: absolute;
  top: 2004px;
  left: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 169px;
  overflow: hidden;
}
.finance-management {
  position: absolute;
  top: 31px;
  left: 178px;
  font-weight: 500;
  display: inline-block;
  width: 204px;
}
.frame-child3 {
  position: absolute;
  top: 32px;
  left: 19px;
  border-radius: 5px;
  background-color: rgba(246, 205, 161, 0.29);
  width: 116px;
  height: 106px;
}
.finance-management-parent {
  position: absolute;
  top: 2004px;
  left: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 169px;
  overflow: hidden;
}
.customer-service-care {
  position: absolute;
  top: 32px;
  left: 200px;
  font-weight: 500;
  display: inline-block;
  width: 143px;
}
.customer-service-care-parent {
  position: absolute;
  top: 2004px;
  left: 940px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 169px;
  overflow: hidden;
}
.web-design-child1 {
  position: absolute;
  top: 1605px;
  left: 60px;
  border-radius: 5px;
  background-color: #f3ca9e;
  width: 246px;
  height: 10px;
}
.explore-jobs-by {
  position: absolute;
  top: 1556px;
  left: 69px;
  font-size: 40px;
  font-weight: 600;
}
.facebook {
  top: 25px;
  left: 128px;
  font-size: 24px;
}
.bangalore,
.facebook,
.product-designer {
  position: absolute;
  font-weight: 500;
}
.product-designer {
  top: 114px;
  left: 37px;
  font-size: 24px;
}
.bangalore {
  top: 63px;
  left: 158px;
}
.full-time,
.we-are-hiring {
  position: absolute;
  top: 154px;
  left: 37px;
  font-size: 14px;
}
.we-are-hiring {
  top: 195px;
  display: inline-block;
  width: 317px;
}
.kmonth {
  position: absolute;
  top: 48px;
  left: 283px;
  font-weight: 500;
}
.ellipse-icon {
  left: 224px;
  object-fit: cover;
}
.ellipse-icon,
.frame-child5,
.frame-child6,
.frame-child7 {
  position: absolute;
  top: 260px;
  width: 50px;
  height: 50px;
}
.frame-child5 {
  left: 268px;
  object-fit: cover;
}
.frame-child6,
.frame-child7 {
  left: 310px;
}
.frame-child7 {
  top: 263px;
  left: 37px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #dbd9d9;
  box-sizing: border-box;
  width: 159px;
  height: 47px;
}
.apply-now,
.div {
  position: absolute;
  top: 275px;
}
.apply-now {
  left: 75px;
  font-weight: 500;
}
.div {
  left: 321px;
  font-size: 14px;
  color: #fff;
}
.facebook-icon,
.place-marker-icon {
  position: absolute;
  top: 35px;
  left: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.place-marker-icon {
  top: 60px;
  left: 123px;
  width: 30px;
  height: 30px;
}
.facebook-parent {
  position: absolute;
  top: 279px;
  left: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 332px;
  overflow: hidden;
}
.mumbai {
  position: absolute;
  top: 69px;
  left: 158px;
  font-weight: 500;
}
.place-marker-icon1 {
  position: absolute;
  top: 66px;
  left: 128px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.youtube-parent {
  position: absolute;
  top: 279px;
  left: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 332px;
  overflow: hidden;
}
.wfhremote {
  position: absolute;
  top: 63px;
  left: 159px;
  font-weight: 500;
}
.google-icon,
.place-marker-icon2 {
  position: absolute;
  top: 38px;
  left: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.place-marker-icon2 {
  top: 60px;
  left: 128px;
  width: 30px;
  height: 30px;
}
.google-parent {
  position: absolute;
  top: 279px;
  left: 940px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 332px;
  overflow: hidden;
}
.chennai {
  position: absolute;
  top: 69px;
  left: 161px;
  font-weight: 500;
}
.apple-parent {
  position: absolute;
  top: 669px;
  left: 940px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 6px solid #fff;
  box-sizing: border-box;
  width: 399px;
  height: 332px;
  overflow: hidden;
}
.remote {
  position: absolute;
  top: 63px;
  left: 162px;
  font-weight: 500;
}
.microsoft-parent {
  position: absolute;
  top: 669px;
  left: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  box-sizing: border-box;
  width: 399px;
  height: 332px;
  overflow: hidden;
}
.remote1 {
  position: absolute;
  top: 63px;
  left: 161px;
  font-weight: 500;
}
.netflix-icon {
  position: absolute;
  top: 31px;
  left: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.frame-child28,
.netflix-parent {
  position: absolute;
  border-radius: 5px;
  box-sizing: border-box;
}
.netflix-parent {
  top: 669px;
  left: 60px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cdbdbd;
  width: 399px;
  height: 332px;
  overflow: hidden;
}
.frame-child28 {
  top: calc(50% - 392px);
  left: calc(50% + 351px);
  background-color: #fff8f8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #000;
  width: 178px;
  height: 70px;
}
.all-items {
  position: absolute;
  top: calc(50% - 375px);
  left: calc(50% + 389px);
  font-size: 24px;
  font-weight: 500;
  color: #643706;
}
.frame-child29 {
  position: absolute;
  top: 132px;
  left: 60px;
  border-radius: 5px;
  background-color: #f3ca9e;
  width: 246px;
  height: 10px;
}
.popular-jobs-for {
  position: absolute;
  top: 83px;
  left: 69px;
  font-size: 40px;
  font-weight: 600;
}
.frame-parent {
  position: absolute;
  top: 2391px;
  left: 0;
  background-color: #facfa9;
  width: 1400px;
  height: 1068px;
  overflow: hidden;
  font-size: 16px;
}
.we-are-providing {
  position: absolute;
  top: 229px;
  left: 579px;
  font-weight: 600;
  color: #673609;
  display: inline-block;
  width: 742px;
}
.dream-jobs {
  position: absolute;
  top: 538px;
  left: 1025px;
  font-size: 24px;
}
.frame-9variant2-child,
.frame-9variant2-item {
  position: absolute;
  top: 410px;
  left: 721px;
  border-radius: 31px;
  background-color: #fff;
  border: 4px solid #000;
  box-sizing: border-box;
  width: 213px;
  height: 126px;
}
.frame-9variant2-item {
  top: 414px;
  left: 986px;
}
.active-users {
  font-size: 32px;
  color: #000;
}
.k-active-users-container {
  position: absolute;
  top: 422px;
  left: 716px;
  font-weight: 600;
  display: inline-block;
  width: 223px;
  color: #f5672a;
}
.on-website {
  position: absolute;
  top: 538px;
  left: 762px;
  font-size: 24px;
}
.jobs {
  font-size: 36px;
  color: #000;
}
.k-jobs {
  position: absolute;
  top: 448px;
  left: 981px;
  font-weight: 600;
  display: inline-block;
  width: 223px;
  color: #f5672a;
}
.frame-9variant2 {
  position: absolute;
  top: 3457px;
  left: 0;
  background-color: #fff;
  width: 1400px;
  height: 788px;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
}
.frame-child30,
.group-icon {
  position: absolute;
  top: 410px;
  left: 913px;
  width: 50px;
  height: 63.47px;
}
.frame-child30 {
  top: 389px;
  left: 990px;
}
.frame-child31,
.frame-child32,
.frame-child33 {
  position: absolute;
  top: 318px;
  left: 940px;
  width: 50px;
  height: 63.47px;
}
.frame-child32,
.frame-child33 {
  top: 573px;
  left: 419px;
}
.frame-child33 {
  top: 177px;
  left: 434px;
}
.frame-child34,
.frame-child35,
.frame-child36 {
  position: absolute;
  top: 383px;
  left: 675px;
  width: 50px;
  height: 63.47px;
}
.frame-child35,
.frame-child36 {
  top: 258px;
  left: 750px;
}
.frame-child36 {
  top: 205px;
  left: 1214px;
}
.frame-child37,
.frame-child38,
.frame-child39 {
  position: absolute;
  top: 584px;
  left: 1104px;
  width: 50px;
  height: 63.47px;
}
.frame-child38,
.frame-child39 {
  top: 540px;
  left: 735px;
}
.frame-child39 {
  top: 265px;
  left: 1109px;
}
.frame-child40,
.frame-child41,
.frame-child42 {
  position: absolute;
  top: 215px;
  left: 955px;
  width: 50px;
  height: 63.47px;
}
.frame-child41,
.frame-child42 {
  top: 278px;
  left: 213px;
}
.frame-child42 {
  top: 96px;
  left: 795px;
  border-radius: 5px;
  background-color: #fff;
  width: 299px;
  height: 10px;
}
.trusted-by-thousands {
  position: absolute;
  top: 48px;
  left: 291px;
  font-weight: 600;
}
.frame-child43 {
  position: absolute;
  top: 0;
  left: 3px;
  border-radius: 10px;
  background-color: #fff;
  border: 5px solid #673609;
  box-sizing: border-box;
  width: 331px;
  height: 200px;
}
.this-is-the {
  position: absolute;
  top: 73px;
  left: 38px;
  font-size: 16px;
  text-align: left;
  display: inline-block;
  width: 271px;
}
.cary,
.ratings {
  position: absolute;
  top: 27px;
  left: 38px;
  font-weight: 500;
  color: #673609;
}
.ratings {
  left: 184px;
  color: #f4a627;
}
.group-parent,
.rectangle-group {
  position: absolute;
  top: 421px;
  left: 61px;
  width: 334px;
  height: 200px;
  overflow: hidden;
  font-size: 20px;
}
.group-parent {
  top: 4199px;
  left: 0;
  width: 1400px;
  height: 789px;
  background-image: url(./public/frame-33@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 40px;
}
.web-design-child2 {
  position: absolute;
  top: 4550px;
  left: 279px;
  width: 60px;
  height: 73.47px;
}
.register-your-account {
  position: absolute;
  top: 55px;
  left: 337px;
  font-size: 40px;
  font-weight: 600;
}
.sign-up1 {
  position: absolute;
  top: 21px;
  left: 63px;
  font-weight: 600;
}
.sign-up-wrapper {
  position: absolute;
  top: 155px;
  left: 447px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 215px;
  height: 77px;
  overflow: hidden;
}
.upload-cv {
  position: absolute;
  top: 21px;
  left: 46px;
  font-weight: 600;
}
.upload-cv-wrapper {
  position: absolute;
  top: 274px;
  left: 447px;
  border-radius: 10px;
  background-color: #edb077;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 215px;
  height: 77px;
  overflow: hidden;
}
.frame-child44,
.line-icon {
  position: absolute;
  top: 120.6px;
  left: 0;
  width: 299.08px;
  height: 289.4px;
}
.frame-child44 {
  top: 176px;
  left: 1047px;
  width: 62px;
  height: 234px;
}
.register-your-account-parent {
  position: absolute;
  top: 5122px;
  left: 157px;
  border-radius: 20px;
  width: 1109px;
  height: 410px;
  overflow: hidden;
  background-image: url(./public/frame-36@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}
.web-design-child3 {
  position: absolute;
  top: 5287px;
  left: 1063px;
  width: 51.87px;
  height: 137.93px;
}
.contact {
  position: absolute;
  top: 150px;
  left: 77px;
  font-size: 24px;
  font-weight: 500;
}
.home1,
.links {
  position: absolute;
  left: 628px;
}
.links {
  top: 65px;
  font-size: 32px;
  font-weight: 500;
}
.home1 {
  top: 145px;
}
.about-us,
.our-process,
.services {
  position: absolute;
  top: 186px;
  left: 628px;
}
.our-process,
.services {
  top: 227px;
}
.services {
  top: 268px;
}
.contact1,
.faqs1,
.helpful-resources {
  position: absolute;
  top: 186px;
  left: 831px;
}
.faqs1,
.helpful-resources {
  top: 227px;
}
.faqs1 {
  top: 145px;
}
.career-advise,
.resources,
.vorkinsta1 {
  position: absolute;
  top: 268px;
  left: 831px;
}
.resources,
.vorkinsta1 {
  top: 68px;
  font-size: 32px;
  font-weight: 500;
}
.vorkinsta1 {
  top: 59px;
  left: 77px;
  font-size: 40px;
  font-weight: 600;
  color: #643706;
}
.vorkinstagmailcom {
  position: absolute;
  top: 212px;
  left: 131px;
  text-decoration: underline;
  font-weight: 500;
  color: inherit;
}
.gmail-logo-icon {
  position: absolute;
  top: 214px;
  left: 77px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child45 {
  position: absolute;
  top: 273px;
  left: 77px;
  width: 260px;
  height: 50px;
}
.support,
.team-plan {
  position: absolute;
  top: 145px;
  left: 1108px;
}
.team-plan {
  top: 186px;
}
.community,
.gift-cards,
.refer-a-friend {
  position: absolute;
  top: 227px;
  left: 1108px;
}
.community,
.gift-cards {
  top: 268px;
}
.community {
  top: 68px;
  font-size: 32px;
  font-weight: 500;
}
.frame-child46 {
  position: absolute;
  top: 447px;
  left: 0;
  width: 1557px;
  height: 232px;
}
.contact-parent,
.copyrightsvorkinsta {
  position: absolute;
  font-size: 20px;
  text-align: center;
}
.contact-parent {
  top: 5666px;
  left: 0;
  background-color: rgba(252, 197, 137, 0.44);
  width: 1400px;
  height: 604px;
  overflow: hidden;
}
.copyrightsvorkinsta {
  top: 6200px;
  left: 77px;
  color: #fff;
}
.group-child {
  position: absolute;
  top: 0;
  left: -4px;
  width: 408px;
  height: 408px;
}
.ellipse-parent,
.group-item {
  position: absolute;
  width: 400px;
}
.group-item {
  top: 174px;
  left: 0;
  background-color: #facfa9;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  height: 400px;
}
.ellipse-parent {
  top: 3547px;
  left: 61px;
  height: 574px;
}
.young-woman-sitting-with-a-lap {
  position: absolute;
  top: 3728px;
  left: 92px;
  width: 338px;
  height: 393px;
  object-fit: cover;
}
.frame-child47 {
  position: absolute;
  top: 85px;
  left: 796px;
  border-radius: 10px;
  background-color: #fff;
  width: 175px;
  height: 13px;
}
.few-steps-for {
  position: absolute;
  top: 43px;
  left: 432px;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}
.first-you-have {
  position: absolute;
  top: 140px;
  left: 58px;
  font-weight: 500;
  display: inline-block;
  width: 265px;
}
.register-an-account {
  position: absolute;
  top: 80px;
  left: 35px;
  font-size: 32px;
  font-weight: 500;
}
.first-you-have-to-create-an-ac-parent {
  position: absolute;
  top: 240px;
  left: 67px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 380px;
  height: 265px;
  overflow: hidden;
  font-size: 16px;
}
.search-your-job,
.then-select-your {
  position: absolute;
  top: 82px;
  left: 69px;
  font-weight: 500;
}
.then-select-your {
  top: 138px;
  left: 57px;
  font-size: 16px;
  display: inline-block;
  width: 265px;
}
.search-your-job-parent {
  position: absolute;
  top: 240px;
  left: 510px;
  border-radius: 50px;
  background-color: #fff;
  border: 5px solid #f3ca9e;
  box-sizing: border-box;
  width: 380px;
  height: 265px;
  overflow: hidden;
}
.apply-your-job,
.finally-apply-for {
  position: absolute;
  top: 80px;
  left: 78px;
  font-weight: 500;
}
.finally-apply-for {
  top: 143px;
  left: 70px;
  font-size: 16px;
  display: inline-block;
  width: 265px;
}
.apply-your-job-parent {
  position: absolute;
  top: 240px;
  left: 953px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 380px;
  height: 265px;
  overflow: hidden;
}
.frame-child48,
.frame-child49,
.frame-child50 {
  position: absolute;
  top: 185px;
  left: 183px;
  border-radius: 30px;
  background-color: #f6cda1;
  width: 147px;
  height: 109px;
}
.frame-child49,
.frame-child50 {
  left: 626px;
}
.frame-child50 {
  left: 1069px;
}
.add-user-male,
.cv-icon,
.search-icon1 {
  position: absolute;
  top: 215px;
  left: 232px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cv-icon,
.search-icon1 {
  left: 675px;
}
.cv-icon {
  left: 1118px;
}
.rectangle-container {
  position: absolute;
  top: 845px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(177, 92, 0, 0.7),
    rgba(242, 182, 118, 0.41) 60.94%,
    rgba(253, 252, 251, 0.35)
  );
  width: 1400px;
  height: 547px;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: -404px;
  width: 408px;
  height: 408px;
}
.ellipse-group,
.group-child1 {
  position: absolute;
  width: 400px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.group-child1 {
  top: 0;
  left: -174px;
  background-color: #facfa9;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  height: 400px;
}
.ellipse-group {
  top: 229px;
  left: 574px;
  height: 574px;
}
.web-design-child4 {
  position: absolute;
  top: 174px;
  left: 75px;
  width: 504px;
  height: 483px;
}
.graduation-cap-lying-on-pile-o,
.young-women-sitting-with-lapto {
  position: absolute;
  top: 201px;
  left: 75px;
  width: 314px;
  height: 456px;
  object-fit: cover;
}
.graduation-cap-lying-on-pile-o {
  top: 186px;
  left: 346px;
  width: 172px;
  height: 142px;
  opacity: 0.5;
}
.web-design-child5 {
  position: absolute;
  top: 328px;
  left: 400px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1);
  border: 4px solid #643706;
  box-sizing: border-box;
  width: 233px;
  height: 94px;
}
.we-are-hiring5 {
  position: absolute;
  top: 357px;
  left: 437px;
  font-weight: 500;
  color: #643706;
}
.web-design {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 6270px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: "M PLUS 1";
}
