body{
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
  }
.desktop-1-child {
  position: absolute;
  top: 112.69rem;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 17.38rem;
}
.follow-us {
  position: absolute;
  top: 123.25rem;
  left: 45.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-white);
  text-align: justify;
}
.facebook-circled-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  object-fit: cover;
}
.desktop-1-inner,
.facebook-circled-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.facebook-circled-parent {
  gap: 0.31rem;
}
.desktop-1-inner {
  position: absolute;
  top: 123.44rem;
  left: 52.44rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.vorkinsta-lets-any {
  margin: 0;
}
.vorkinsta,
.vorkinsta-lets-any-container {
  position: absolute;
  left: 11.75rem;
  line-height: 122.02%;
  text-transform: capitalize;
  display: inline-block;
  color: var(--color-white);
}
.vorkinsta-lets-any-container {
  top: 117.63rem;
  font-size: var(--font-size-sm);
  font-family: var(--font-jost);
  width: 26.88rem;
  height: 10rem;
}
.vorkinsta {
  top: 114.19rem;
  font-size: var(--font-size-6xl);
  width: 8.13rem;
  height: 1.63rem;
}
.help,
.links,
.partners,
.privacy-policies,
.terms-conditions,
.vorkinsta-license {
  position: absolute;
  top: 117.38rem;
  left: 47.31rem;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 8.25rem;
}
.help,
.links,
.partners,
.privacy-policies,
.vorkinsta-license {
  top: 118.94rem;
}
.help,
.links,
.partners,
.vorkinsta-license {
  top: 120.5rem;
}
.links,
.partners,
.vorkinsta-license {
  top: 117.38rem;
  left: 67.63rem;
}
.links,
.partners {
  top: 118.94rem;
}
.links {
  top: 114.31rem;
  left: 45.75rem;
  font-size: var(--font-size-6xl);
  width: 4.31rem;
  height: 1.63rem;
}
.desktop-1-child1,
.desktop-1-item,
.ellipse-icon {
  position: absolute;
  top: 117.56rem;
  left: 45.75rem;
  width: 0.88rem;
  height: 0.88rem;
}
.desktop-1-child1,
.ellipse-icon {
  top: 119.13rem;
}
.desktop-1-child1 {
  top: 120.69rem;
}
.desktop-1-child2,
.desktop-1-child3,
.rectangle-icon {
  position: absolute;
  top: 117.56rem;
  left: 66.06rem;
  width: 0.88rem;
  height: 0.88rem;
}
.desktop-1-child3,
.rectangle-icon {
  top: 119.13rem;
}
.rectangle-icon {
  top: 121.5rem;
  width: 12.19rem;
  height: 1.81rem;
}
.select-language {
  position: absolute;
  top: 121.88rem;
  left: 67.63rem;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 8.25rem;
}
.vector-icon {
  position: absolute;
  top: 122.42rem;
  left: 75.41rem;
  width: 0.92rem;
  height: 0.54rem;
}
.all-rights-reserved {
  position: absolute;
  top: 125.88rem;
  left: 45.75rem;
  font-size: 1rem;
  color: var(--color-white);
  text-align: justify;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-div {
  position: absolute;
  top: 13.12rem;
  left: 10.5rem;
  background-color: var(--color-lavender);
  width: 71.13rem;
  height: 42.26rem;
}
.about-job {
  position: absolute;
  top: 13.89rem;
  left: 11.85rem;
  font-size: 2.32rem;
  font-family: var(--font-dm-serif-text);
}
.about-job,
.apply,
.job-title {
  line-height: 122.02%;
  text-transform: capitalize;
}
.job-title {
  position: absolute;
  top: 17.63rem;
  left: 24.54rem;
  font-size: 1.61rem;
}
.apply {
  position: relative;
}
.apply-wrapper,
.save-wrapper {
  position: absolute;
  top: 49.52rem;
  left: 25.83rem;
  border-radius: 10.31px;
  background-color: var(--color-darkslategray);
  width: 12.69rem;
  height: 3.29rem;
  display: flex;
  flex-direction: row;
  padding: 0.64rem 1.93rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 1.61rem;
  color: var(--color-white);
}
.save-wrapper {
  left: 41.49rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslategray);
  width: 7.73rem;
  align-items: center;
  justify-content: center;
  color: var(--color-darkslategray);
}
.desktop-1-child4 {
  position: absolute;
  top: 17.63rem;
  left: 11.85rem;
  width: 8.76rem;
  height: 8.76rem;
  object-fit: cover;
}
.span {
  color: var(--color-black);
}
.know-more {
  margin: 0;
  color: var(--color-darkgray);
}
.dorem-ipsum-dolor-container {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
  width: 54.33rem;
  height: 13.41rem;
}
.dorem-ipsum-dolor-sit-amet-co-wrapper {
  position: absolute;
  top: 21.23rem;
  left: 24.54rem;
  width: 54.33rem;
  height: 13.41rem;
  font-size: 0.88rem;
  font-family: var(--font-jost);
}
.application-submitted {
  top: 18.6rem;
  left: 67.13rem;
  color: var(--color-darkgray);
  width: 9.34rem;
  height: 1.29rem;
}
.application-submitted,
.b,
.div,
.dorem-ipsum-dolor,
.posted-on,
.reviews-1236 {
  position: absolute;
  font-family: var(--font-jost);
  display: inline-block;
}
.b {
  top: 18.6rem;
  left: 78.53rem;
  color: var(--color-darkgray);
  width: 1.87rem;
  height: 1.29rem;
}
.div,
.dorem-ipsum-dolor,
.posted-on,
.reviews-1236 {
  top: 30.71rem;
  left: 11.85rem;
  width: 9.66rem;
  height: 5.41rem;
}
.div,
.posted-on,
.reviews-1236 {
  top: 37.09rem;
  width: 8.89rem;
  height: 1.61rem;
}
.div,
.posted-on {
  top: 41.72rem;
  width: 4.38rem;
}
.div {
  left: 16.68rem;
  width: 5.28rem;
}
.design {
  position: relative;
}
.design-wrapper {
  top: 36.76rem;
  left: 24.48rem;
  border-radius: 10.31px;
  background-color: var(--color-silver);
  width: 4.64rem;
  height: 1.93rem;
  display: flex;
  flex-direction: row;
  padding: 0.32rem 0.97rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.design-wrapper,
.html-wrapper,
.lpa {
  position: absolute;
  font-family: var(--font-jost);
}
.html-wrapper {
  top: 36.76rem;
  left: 30.67rem;
  border-radius: 10.31px;
  background-color: var(--color-silver);
  width: 4.19rem;
  height: 1.93rem;
  display: flex;
  flex-direction: row;
  padding: 0.32rem 0.97rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.lpa {
  top: 34.77rem;
  left: 70.93rem;
}
.div1,
.div2,
.noida-uttar-pradesh,
.open-in-new,
.work-from-office,
.years {
  position: absolute;
  top: 37.86rem;
  left: 70.93rem;
  font-family: var(--font-jost);
}
.div1,
.div2,
.noida-uttar-pradesh,
.open-in-new,
.years {
  top: 40.95rem;
}
.div1,
.div2,
.noida-uttar-pradesh,
.open-in-new {
  top: 43.66rem;
  left: 34.66rem;
}
.div1,
.div2,
.open-in-new {
  top: 48.68rem;
  left: 70.87rem;
}
.div2,
.open-in-new {
  top: 44.04rem;
  left: 70.93rem;
}
.open-in-new {
  top: 53.19rem;
  color: #0045ac;
}
.css-wrapper,
.illustrator-wrapper,
.photoshop-wrapper,
.power-point-presentation-wrapper {
  position: absolute;
  top: 36.76rem;
  left: 36.4rem;
  border-radius: 10.31px;
  background-color: var(--color-silver);
  width: 3.54rem;
  height: 1.93rem;
  display: flex;
  flex-direction: row;
  padding: 0.32rem 0.97rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-family: var(--font-jost);
}
.illustrator-wrapper,
.photoshop-wrapper,
.power-point-presentation-wrapper {
  left: 41.49rem;
  width: 5.99rem;
}
.illustrator-wrapper,
.power-point-presentation-wrapper {
  top: 39.79rem;
  left: 37.37rem;
  width: 5.41rem;
}
.power-point-presentation-wrapper {
  left: 24.54rem;
  width: 11.4rem;
}
.star-icon {
  position: absolute;
  top: 38.89rem;
  left: 11.88rem;
  width: 0.9rem;
  height: 0.9rem;
}
.desktop-1-child5,
.desktop-1-child6,
.desktop-1-child7,
.desktop-1-child8 {
  position: absolute;
  top: 38.89rem;
  left: 12.97rem;
  width: 0.9rem;
  height: 0.9rem;
}
.desktop-1-child6,
.desktop-1-child7,
.desktop-1-child8 {
  left: 14.07rem;
}
.desktop-1-child7,
.desktop-1-child8 {
  left: 15.16rem;
}
.desktop-1-child8 {
  left: 16.26rem;
}
.skills {
  position: absolute;
  top: 34.25rem;
  left: 24.48rem;
  line-height: 122.02%;
}
.company-name,
.last-date-to-container {
  position: absolute;
  top: 44.3rem;
  left: 60.75rem;
  line-height: 122.02%;
}
.company-name {
  top: 28.65rem;
  left: 11.85rem;
}
.experience,
.job-type,
.location,
.opening,
.salary {
  position: absolute;
  top: 34.77rem;
  left: 60.75rem;
  line-height: 122.02%;
}
.experience,
.job-type,
.location,
.opening {
  top: 37.92rem;
}
.experience,
.location,
.opening {
  top: 41.01rem;
}
.location,
.opening {
  top: 43.72rem;
  left: 24.48rem;
}
.opening {
  top: 48.75rem;
  left: 60.69rem;
}
.frame-icon {
  position: absolute;
  top: 53.13rem;
  left: 79.37rem;
  width: 0.97rem;
  height: 1.03rem;
  overflow: hidden;
}
.share-2-1 {
  position: absolute;
  top: 14.41rem;
  left: 77.76rem;
  width: 2.32rem;
  height: 2.32rem;
  object-fit: cover;
}
.group-child,
.similar-jobs {
  position: absolute;
  top: 0;
  left: 0;
}
.similar-jobs {
  font-size: 2.29rem;
  line-height: 122.02%;
  text-transform: capitalize;
  font-family: var(--font-dm-serif-text);
}
.group-child {
  border-radius: 10.18px;
  background-color: var(--color-gainsboro);
  width: 66.81rem;
  height: 9.23rem;
}
.frame-icon1 {
  position: absolute;
  top: 5.66rem;
  left: 8.34rem;
  width: 1.02rem;
  height: 1.97rem;
  overflow: hidden;
}
.dorem-ipsum,
.dorem-ipsum-dolor1,
.dorem-ipsum1 {
  position: absolute;
  top: 1.4rem;
  left: 7.83rem;
  display: inline-block;
  width: 5.6rem;
  height: 1.58rem;
}
.dorem-ipsum-dolor1,
.dorem-ipsum1 {
  top: 7.45rem;
  left: 0.64rem;
}
.dorem-ipsum-dolor1 {
  top: 3rem;
  left: 7.89rem;
  width: 54.98rem;
  height: 3.15rem;
}
.today,
.today-wrapper {
  position: absolute;
  width: 2.93rem;
  height: 1.08rem;
}
.today {
  top: 0;
  left: 0;
  display: inline-block;
}
.today-wrapper {
  top: 6.75rem;
  left: 57.46rem;
  color: var(--color-darkgray);
  font-family: var(--font-inter);
}
.rectangle-parent {
  position: absolute;
  top: 0.16rem;
  left: 0;
  width: 66.81rem;
  height: 9.23rem;
  font-family: var(--font-jost);
}
.experience-0-4years,
.mumbai,
.salary-3-5 {
  position: absolute;
  top: 6.71rem;
  left: 9.54rem;
  display: inline-block;
  width: 4.84rem;
  height: 1.08rem;
}
.experience-0-4years,
.salary-3-5 {
  left: 17.18rem;
  width: 10.37rem;
}
.salary-3-5 {
  left: 30.35rem;
}
.ribbon-1-icon {
  position: absolute;
  top: 6.52rem;
  left: 0.89rem;
  width: 1.27rem;
  height: 1.27rem;
  object-fit: cover;
}
.div3 {
  position: absolute;
  top: 0.93rem;
  left: 0;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.ribbon-1-parent {
  position: absolute;
  top: 0;
  left: 63.44rem;
  width: 3.01rem;
  height: 7.79rem;
  font-size: 2.04rem;
  font-family: var(--font-jost);
}
.group-item {
  position: absolute;
  top: 1.43rem;
  left: 1.08rem;
  width: 4.71rem;
  height: 4.71rem;
  object-fit: cover;
}
.group-container,
.group-div,
.group-parent,
.group-parent1 {
  position: absolute;
  top: 5.38rem;
  left: 0;
  width: 66.81rem;
  height: 9.38rem;
}
.group-container,
.group-div,
.group-parent1 {
  top: 16.96rem;
}
.group-div,
.group-parent1 {
  top: 28.54rem;
}
.group-parent1 {
  top: 40.12rem;
}
.similar-jobs-parent {
  position: absolute;
  top: 58.75rem;
  left: 13.25rem;
  width: 66.81rem;
  height: 49.51rem;
  font-size: 0.89rem;
}
.desktop-1-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 7.38rem;
}
.about-us {
  position: absolute;
  left: 8.69rem;
}
.about-us,
.faq,
.search {
  top: 0.31rem;
  line-height: 122.02%;
}
.search {
  position: absolute;
  left: 4.13rem;
}
.faq {
  left: 14.25rem;
}
.faq,
.home,
.line-div {
  position: absolute;
}
.home {
  top: 0;
  left: 0;
  line-height: 122.02%;
}
.line-div {
  top: 1.34rem;
  left: 4.03rem;
  border-top: 3px solid #a5d7e8;
  box-sizing: border-box;
  width: 3.19rem;
  height: 0.19rem;
}
.home-parent {
  position: absolute;
  top: 0.31rem;
  left: 0;
  width: 7.13rem;
  height: 1.44rem;
}
.login,
.sign-up {
  line-height: 122.02%;
}
.login {
  position: absolute;
  top: 0.25rem;
  left: 17.56rem;
}
.sign-up {
  position: relative;
}
.sign-up-wrapper {
  position: absolute;
  top: 0;
  left: 21.5rem;
  border-radius: 5px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.94rem;
  align-items: center;
  justify-content: center;
  color: var(--color-darkslategray);
}
.about-us-parent {
  position: absolute;
  top: 2.5rem;
  left: 54.69rem;
  width: 26.94rem;
  height: 1.75rem;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.desktop-1-child10 {
  position: absolute;
  top: 7.38rem;
  left: 0;
  background-color: var(--color-lavender);
  width: 100%;
  height: 3.13rem;
}
.business,
.design1,
.development,
.finance-account,
.it-software,
.personal-development {
  position: absolute;
  top: 8.25rem;
  left: 11.75rem;
  font-size: var(--font-size-sm);
  line-height: 122.02%;
}
.business,
.design1,
.finance-account,
.it-software,
.personal-development {
  left: 19.06rem;
}
.design1,
.finance-account,
.it-software,
.personal-development {
  left: 24.56rem;
}
.design1,
.it-software,
.personal-development {
  left: 34.19rem;
}
.design1,
.personal-development {
  left: 41.5rem;
}
.personal-development {
  left: 46.06rem;
}
.group-child6,
.more-parent {
  position: absolute;
  top: 0.46rem;
  left: 2.52rem;
  width: 0.59rem;
  height: 0.38rem;
}
.more-parent {
  top: 8.25rem;
  left: 57.31rem;
  width: 3.06rem;
  height: 1.06rem;
  font-size: var(--font-size-sm);
}
.image-9-icon {
  position: absolute;
  top: 1.94rem;
  left: 10.5rem;
  width: 12.63rem;
  height: 2.69rem;
  object-fit: cover;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 130.06rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.9rem;
  color: var(--color-black);
  font-family: var(--font-inter);
}

